body {
    overflow-x: hidden;
}

.form-style {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    margin-right: 55%;
}

.form-style form {
    padding: 20px;
    text-align: center;
    width: 450px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    border-radius: 35px;
}

.form-style form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

.form-style form input,
.form-style form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 5px;
}

.form-style form option {
    background: #fff;
}

.form-style form .form-btn {
    background: white;
    color: blueviolet;
    text-transform: capitalize;
}

.form-style form .form-btn:hover {
    background: blue;
    color: white;
}

.form-style small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.list ul li {
    color: red;
}