.form-style {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}

.form-style form {
    padding: 20px;
    text-align: center;
    width: 500px;
    background: rgb(2, 0, 36);
    background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(146, 29, 73, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.form-style form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}

.form-style form input,
.form-style form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-style form option {
    background: #fff;
}

.form-style form .form-btn {
    background: white;
    color: crimson;
    text-transform: capitalize;
}

.form-style form .form-btn:hover {
    background: crimson;
    color: white;
}

.background-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}